<!-- SupabaseConfig.plist -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PROJECT_API_KEY</key>
    <string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3bXZsdnFzbndtanBwdnVkbnRuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY2NzkxNjM5OCwiZXhwIjoxOTgzNDkyMzk4fQ.ad14XdTKNYnOXqvq7eyv9-ogwMhpOSs8l9XkX4TKVM8</string>
    <key>PROJECT_URL</key>
    <string>https://awmvlvqsnwmjppvudntn.supabase.co</string>
</dict>
</plist>
